body {
  font-family: "Fix for Mac Chrome 80", system-ui, -apple-system,
    BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
  background-color: #e9ebee;
  margin: 0;
}

.header {
  background-color: #3b5998;
  color: white;
  display: flex;
  padding: 0 200px;
  align-items: center;
}

.logo {
  font-size: 2.5em;
  margin: 20px 10px 15px 0;
}

.register-button {
  background-color: #42b72a;
  height: 24px;
  width: 45px;
  text-align: center;
  line-height: 24px;
  font-size: 0.8em;
  margin-top: 13px;
  border-radius: 2px;
}

.join-facebook {
  margin-left: auto;
  font-size: 0.8em;
}

.join-facebook::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  position: relative;
  margin-left: 8px;
  top: 11px;
}

.content {
  position: absolute;
  padding: 20px 200px;
  width: calc(100% - 400px);
}

.entries {
  margin-top: 40px;
  display: flex;
}

.entry {
  flex: 1;
  background: white;
  border: 2px solid #dddddd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  text-align: center;
}

.entry + .entry {
  margin-left: 30px;
}

.description {
  color: gray;
}

.button {
  margin-top: 80px;
  height: 30px;
  width: 50px;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  background-color: #efefef;
}
